<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add new user</title>
</head>
<body>
<p style="text-align:center">&nbsp;</p>

<div style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px">
    <form th:method="POST" th:object="${user}" th:action="@{/admin/new_user}">
        <p style="text-align:center">
            <label for="firstname">First Name &nbsp;</label>
            <input id="firstname" name="firstname" type="text" th:field="*{firstname}">
        </p>
        <p style="text-align:center">
            <label for="lastname">Last Name &nbsp;</label>
            <input id="lastname" name="lastname" type="text" th:field="*{lastname}">
        </p>
        <p style="text-align:center">
            <label for="age">Age &nbsp;</label>
            <input id="age" name="age" type="text" th:field="*{age}">
        </p>
        <p style="text-align:center">
            <label for="email">Email &nbsp;</label>
            <input id="email" name="email" type="text" th:field="*{email}">
        </p>
        <p style="text-align:center">
            <label for="password">Password &nbsp;</label>
            <input id="password" name="password" type="password" th:field="*{password}">
        </p>
        <p style="text-align:center">
            <label for="role">Role &nbsp;</label>
            <input id="role" name="role" type="text" th:field="*{roles}">
        </p>
        <p style="margin-left:50px; text-align:center">
            <input name="submit" type="submit" value="Add new user">
        </p>
    </form>
    <form style="margin-left:50px; text-align:center" th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>

</body>
</html>